:root {
  --mobile-margin: 4vw;
  --mobile-topmargin: 2vw;

  --header-layer: 100;
  --overlay-layer: 200;
}

body {
  max-width: 100vw;
  /* max-height: 600vh; */
  margin: none;
  padding: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

#header{
  background-color: white;
  width: 100%;
  padding-top: var(--mobile-topmargin);
  position: fixed;
  z-index: 100;
}

#title{
    margin: auto;
    font-family: neue-haas-grotesk-display;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: black;
  z-index: 10;
  font-size: 7vw;
  margin-top: 0vh;
}


.header-btn{
/* position: fixed; */
font-family: baskerville-urw;
font-style: italic;
font-weight: 400;
color: black;
font-size: 5vw;
z-index: 10;
/* bottom: var(--mobile-margin); */
}

#ranking-btn{
right: var(--mobile-margin);
position: fixed;
}

#about-btn{
left: var(--mobile-margin);
position: fixed;
}


#title{
  margin: auto;
  font-family: neue-haas-grotesk-display;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: black;
z-index: 10;
}


/* OVERLAYS */
.overlay {
    height: 100%;
    position: fixed;
    z-index: var(--overlay-layer);
    top: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.overlay-content {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.overlay-header{
  position: absolute;
  font-size: 15vw;
  font-family: baskerville-urw;
  font-style: italic;
  font-weight: 400;
  top: 0%;
  left: var(--mobile-margin);
  margin: 0;
}

.closebtn{
  position: absolute;
  right: var(--mobile-margin);
  top: var(--mobile-margin);
  z-index: var(--overlay-layer);
}

.close-img{
  position: relative;
  width: 10vw;
}


/* ABOUT */
#about-overlay {
  width: 0;
  left: 0;
}

#about-text{
  top: 20%;
  position: absolute;
  font-family: neue-haas-grotesk-display;
  font-weight: 400;
  font-size: 10vw;
}


#freccia{
  position: absolute;
  bottom: 0;
  width: 15vw;
  height: 15vw;
  left: 50%;
  transform:translate(-50%, 0%);
  z-index: var(--overlay-layer);
}

#crediti{
display: none;
margin-bottom: 50vh;
text-align: left;
}


#crediti-text{
  top: 0%;
  left: 10vh;
  position: relative;
  font-family: baskerville-urw;
  font-style: italic;
  font-weight: 200;
  font-size: 5vh;
}



/* RANKING */
#ranking-overlay {
  width: 100%;
  left: 100%;
}
