:root {
  --mobile-margin: 4vw;
  --mobile-topmargin: 2vw;

  --header-layer: 100;
  --overlay-layer: 200;
}

body {
  max-width: 100vw;
  /* max-height: 600vh; */
  margin: none;
  padding: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}



#header{
  background-color: white;
  width: 100%;
  position: fixed;
  padding-top: var(--mobile-topmargin);
  z-index: var(--header-layer);
}


#title{
  margin: auto;
  font-family: neue-haas-grotesk-display;
  font-weight: 600;
  text-align: center;
  color: black;
  font-size: 7vw;
}

.header-btn{
position: absolute;
bottom: 0%;
font-family: baskerville-urw;
font-style: italic;
font-weight: 400;
color: black;
font-size: 5vw;
display: inline-flex;
}

#about-btn{left: var(--mobile-margin);}

#ranking-btn{right: var(--mobile-margin);}





/* OVERLAYS */
.overlay {
    max-height: 100vh;
    position: fixed;
    z-index: var(--overlay-layer);
    top: 0;
    background-color: white;
    overflow: hidden;
    transition: 0.5s;
}

.overlay-content {
top: var(--margin);
bottom: var(--margin);
left: var(--margin);
right: var(--margin);
position: absolute;
height: auto;
}

.overlay-header{
  position: absolute;
  font-size: 15vw;
  font-family: baskerville-urw;
  font-style: italic;
  font-weight: 400;
  top: 0;
  margin: 0;
  transform:translate(0, -10%);
}

.closebtn{
  position: absolute;
  right: var(--mobile-margin);
  top: var(--mobile-margin);
  z-index: var(--overlay-layer);
}

.close-img{
  position: relative;
  width: 10vw;
}


/* ABOUT */
#about-overlay {
  width: 0;
  left: 0;
}

#about-text{
  position: absolute;
  top: 20vh;
  width: 92vw;
  font-family: neue-haas-grotesk-display;
  font-weight: 400;
  font-size: 6vw;
}

.overlay a {
color: black;}

.overlay a:hover {
color: red;
font-style: italic;
}


#credits {
display: none;
position: absolute;
bottom: var(--mobile-margin);
}

.credits-paragraph {
  font-family: baskerville-urw;
  font-style: italic;
  font-weight: 200;
  font-size: 4vw;
  width: 92vw;
  cursor: pointer;
  line-height: 1;
}

.credits-paragraph a {
  text-decoration: none;
}

#troppo-italiano {
  position: absolute;
  bottom: 30vh;
  width: 20vw;
  left: 40vw;
  z-index: var(--overlay-layer);
  cursor: pointer;

  animation: troppo-italiana 1s infinite;
  -webkit-animation: troppo-italiana 1s infinite;

  -webkit-transition: -webkit-transform .1s;
          transition:         transform .1s;
}


#troppo-italiano:hover, #troppo-italiano:focus {
  animation-play-state: paused;

  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}


@keyframes troppo-italiana {
  0% {bottom: 30vh}
  50% {bottom: 34vh}
  100% {bottom: 30vh}
}



/* RANKING */
#ranking-overlay {
  width: 100%;
  left: 100%;
}
