:root {
  --mobile-margin: 4vw;
  --mobile-topmargin: 2vw;
}

#page-content {
  position: fixed;
  width: 100%;
}

.paragraph {
  width: 100%;
  position: inherit;
  top: 40vh;
  transform:translate(0%, -50%);
  font-size: 5vh;
  font-style: italic;
  text-align: center;
}

#scroll {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 30vw;
  height: 30;
margin: auto;
z-index: 120;
transform:translate(-50%, 0);
}

#play-btn {
  position: fixed;
  font-size: 5vw;
  border-style: groove;
  border-size: 10px;
  padding: 1vw;
  bottom: 10vh;
  text-decoration: none;
  left: 50%;
  color: black;
  font-family: neue-haas-grotesk-display;
  transform:translate(-50%, 0);
  transform-origin: center;
}


#skip-btn {
  position: fixed;
  font-size: 3vh;
  bottom: 20vh;
  color: black;
  font-family: baskerville-urw;
  font-style: italic;
  margin-left: 50vw;
  transform:translate(-50%, 0%);
  transform-origin: center;
}
