:root {
  --mobile-margin: 4vw;
  --mobile-topmargin: 2vw;
}

#title {
  -skrollr-animation-name:resizeTitlemobile;
}

  @-skrollr-keyframes resizeTitlemobile {
  0  {
      margin-top: 20vh;
      font-size: 12vw;
  }
  400	{
    margin-top: 0vh;
    font-size: 7vw;
  }
  }

#page-content {
  position: fixed;
  width: 100%;
}

.paragraph {
  width: 100%;
  position: inherit;
  top: 40vh;
  transform:translate(0%, -50%);
  font-size: 5vh;
  font-style: italic;
  text-align: center;
}

#scroll {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 30vw;
  height: 30;
margin: auto;
z-index: 120;
transform:translate(-50%, 0);
}

#play-btn {
  position: fixed;
  font-size: 5vw;
  border-style: groove;
  border-size: 10px;
  padding: 1vw;
  bottom: 10vh;
  text-decoration: none;
  left: 50%;
  color: black;
  font-family: neue-haas-grotesk-display;
  transform:translate(-50%, 0);
  transform-origin: center;
}


#skip-btn {
  position: fixed;
  font-size: 3vh;
  bottom: 20vh;
  color: black;
  font-family: baskerville-urw;
  font-style: italic;
  margin-left: 50vw;
  transform:translate(-50%, 0%);
  transform-origin: center;
}

/* Pasta is good */
#p1{
line-height:2;
-skrollr-animation-name:p1;
}

@-skrollr-keyframes p1 {
200  { opacity: 0; margin-top:3vh }
400	{ opacity: 1; margin-top:0vh}
1200  {opacity: 1; margin-top:0vh}
1400	{opacity:0; margin-top:-3vh }
}

/* but which is the best? */
#p2{
line-height:2;
-skrollr-animation-name:p2;
}

@-skrollr-keyframes p2 {
400  { opacity: 0; margin-top:3vh }
800	{ opacity: 1; margin-top:0vh}
1200  {opacity: 1; margin-top:0vh}
1400	{opacity:0; margin-top:-3vh }
}

/* You're about to enter the biggest pasta poll in history */
#p3{
-skrollr-animation-name:p3;
}

@-skrollr-keyframes p3 {
1400  { opacity: 0; margin-top:3vh }
1600	{ opacity: 1; margin-top:0vh}
2000  {opacity: 1; margin-top:0vh}
2200	{opacity:0; margin-top:-3vh }
}

/* Get prepared */
#p4{
line-height:2;
-skrollr-animation-name:p4;
}

@-skrollr-keyframes p4 {
2200  { opacity: 0; margin-top:3vh }
2400	{ opacity: 1; margin-top:0vh}
4400  {opacity: 1; margin-top:0vh}
4600	{opacity:0; margin-top:-3vh }
}

/* to be fierce */
#p5{
line-height:2;
-skrollr-animation-name:p5;
}

@-skrollr-keyframes p5 {
2200  { opacity: 0; margin-top:3vh }
2400	{ opacity: 1; margin-top:0vh}
2800  {opacity: 1; margin-top:0vh}
3000	{opacity:0; margin-top:-3vh }
}

/* to be fast */
#p6{
line-height:2;
-skrollr-animation-name:p6;
}

@-skrollr-keyframes p6 {
3000  { opacity: 0; margin-top:3vh }
3200	{ opacity: 1; margin-top:0vh}
3600  {opacity: 1; margin-top:0vh}
3800	{opacity:0; margin-top:-3vh }
}

/* to click */
#p7{
line-height:2;
-skrollr-animation-name:p7;
}

@-skrollr-keyframes p7 {
3800  { opacity: 0; margin-top:3vh }
4000	{ opacity: 1; margin-top:0vh}
4400  {opacity: 1; margin-top:0vh}
4600	{opacity:0; margin-top:-3vh }
}

/* Are you ready? */
#p8{
-skrollr-animation-name:p8;
}

@-skrollr-keyframes p8 {
4600  { opacity: 0; margin-top:3vh }
4800	{ opacity: 1; margin-top:0vh}
}
