#waiting-room-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}

.activated {
animation: waiting-room-display-animation 1s 1;
}

@keyframes waiting-room-display-animation {
0% {opacity: 0}
100% {opacity: 1}
}

#waiting-room-container.activated {
  animation: waiting-room-flash-animation 0.8s 2;
}

@keyframes waiting-room-flash-animation {
0% {background-color: white}
50% {background-color: red}
100% {background-color: white}
}


#waiting-room-text {
  position: absolute;
  width: 100%;
  top: 30vh;
  text-align: center;
}

#waiting-room-message {
  font-family: baskerville-urw;
  font-style: italic;
  font-size: 5vw;
  line-height: 1;
}

#waiting-room-timer {
font-family: neue-haas-grotesk-display;
font-weight: 600;
font-size: 10vh;
}

#score {
position: absolute;
font-family: neue-haas-grotesk-display;
font-weight: 600;
font-size: 1vw;
right: var(--margin);
bottom: var(--bottom-margin);
}
